modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = 36873741
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- -H 0.0.0.0"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5555
externalPort = 3000

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "node .next/standalone/server.js"]
build = ["sh", "-c", "npm run build"]
